<configuration>
    <!-- Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Formato del log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Ruta del archivo de logs -->
        <file>target/log</file>
        <append>true</append> <!-- true = añade al final, false = sobrescribe -->
        <encoder>
            <!-- Formato del log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Pone informacion info -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
